@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");

:root {
  --light-clr: #d2ddef;
  --grey-clr: #84a2ab;
  --dark-clr: #2c444c;
  --red-clr: #b9354d;
  --green-clr: #788e41;
}

* {
  /* font-family: "Alegreya", serif; */
  font-family: cursive;
}

html {
  height: 100%;
}

body {
  padding: 25px 0 0 0;
  margin: 0;
  height: 100%;
}

.container {
  max-width: 90%;
  padding: 0 50px;
  margin: auto;
  box-sizing: border-box;
}
